@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Damion&family=Gluten:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 	http://meyerweb.com/eric/tools/css/reset/ v2.0 
	License: none (public domain) */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
      
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*---------- MOBILE FIRST / SMALL GLOBAL SCREENS ----------*/
  :root {
    font-size: 16px;
    --font1: 'Damion', cursive;
    --font2: 'Gluten', cursive;
    --font3: 'Montserrat', sans-serif;
    /*  Color Palette */
    --yellow: #FFD54F;    
    --light-brown: #DCB97D;
    --dark-brown: #A66940;
    --green: #59a33b;
    --bright-red: #D92921;
    --dark-red:#A40107;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
  }
  
  /* ----- SKIP LINK ----- */
  #skip {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }  
  #skip:focus {
    position: static;
    width: auto;
    height: auto;
  }
  
  /* ----- BODY STYLES ----- */
  html {
  background-color: var(--dark-brown);	
  }
  body {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    font-family: var(--font3);
    margin-left: auto;
    margin-right: auto;
  }
  .dark-mode {
    background-color: var(--black);
    color: var(--white);
  }
  
  /* ----- HEADER STYLES ----- */
  header {
    position: relative;
    width: 900px;
    height: 200px;
    background-color: var(--dark-red);
    background-image: url(images/kaiteaWebHeader.jpg);
    background-repeat: no-repeat;
    z-index: 0;
  }
  header a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
  }
  .dark-mode header {
    background-color: var(--dark-red);
  }
  
  /* ----- HEADING STYLES ----- */
  h1 {
    height: 2rem;
    color: var(--white);
    font-family: var(--font1);
    font-size: 175%;
    font-weight: normal;
  }
  h2 {
    font-size: 150%;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  h3 {
    font-size: 150%;
    margin: 0 20px;
    padding-left: 20px;
  }
  h2, h3 {
    font-family: var(--font2);
  }
  #about h3, #testimonials h3 {
    font-family: var(--font3);
  }

  /* ----- NAVIGATION STYLES ----- */
  nav {
    margin: 0 auto;
    border-top: 3px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    background-color: var(--bright-red);
    position: relative;
    top: 40px;
    z-index: 1;
  }
  .dark-mode nav {
    border-top: 1px solid var(--dark-gray);
    border-bottom: 3px solid var(--yellow);
    background-color: var(--black);
  }
  nav ul {
    font-weight: bold;
  }
  nav li {
    list-style-type: none;
    display: inline-flex;
    padding: 10px 30px;
  }
  nav a {
    display: inline;
    padding: 8px 10px;
    color: var(--green);
    text-decoration: none;
  }
  .dark-mode nav a {
    color: var(--green);
  }
  nav a:hover {
    background-color: var(--bright-red);
    color: var(--dark-gray);
    padding: 2px;
  }
  .dark-mode nav a:hover{
    background-color: var(--bright-red);
    color: var(--dark-gray);
  } 
  .active-page {
    background-color: var(--yellow);
    color: var(--dark-gray);
  }
  .dark-mode .active-page {
    background-color: var(--yellow);
    color: var(--dark-gray);
  }
  nav button{
    width: 130px;
    height: 40px;
    border: 2px solid var(--dark-gray);
    border-radius: 5px;
  }

  /* ----- IMAGE AND ICON STYLES ----- */
  img, .fas {
    display: inline-block;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .img-responsive {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
  }
  .img-screenshot{
    max-width: 100%;
    height: auto;
  }
  .logo {
    padding: 1em;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .fas {
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .rating-stars {
    font-size: 1.3rem; 
    color: var(--yellow);
  }

  /* ----- MAIN STYLES ----- */
  main {
    background-color: var(--light-gray);
    margin: 0 auto;
  }
  .dark-mode main {
    background-color: var(--dark-gray);
  }
  section li {
    list-style-type: none;
    display: inline;
    padding: 10px;
  }
  p {
    padding: 0 20px;
  }
  .hidden {
    visibility: hidden;
    height: 1.5rem;
    margin: 0.5rem 0rem 0rem 0rem;
  }
  button {
    cursor: pointer;
    background-color: var(--dark-red);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
  }
  
  /* ----- ABOUT SECTION STYLES ----- */
  #about {
    padding: 3rem;
    background-color: var(--light-brown);
  }
  .dark-mode #about {
    background-color: var(--dark-gray);
  }
  #about a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
  }
  
  /* ----- SEARCH SECTION STYLES ----- */
  #search {
    padding: 2rem 4rem;
    background-color: var(--dark-gray);
    color: var(--white);
    border-top: 3px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
  }
  form {
    margin: 10px auto;
    padding: 10px;
    color: var(--white);
    background-color: var(--dark-gray);
    font-family: var(--font2);
  }
  label {
    font-weight: bold;
    padding: 0px 10px 15px;
  }
  .dark-mode #search {
    background-color: var(--dark-gray);
  }
  #search input {
    display: inline;
    margin: 0.5rem 0rem;
    border: 1.5px solid var(--dark-gray);
    padding: 5px;
    font-family: var(--font2);
  }
  #firstName, #lastName {
    width: 315px;
  }
  #myEmail, #myPhone {
    width: 350px;
  }
  fieldset {
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
  }
  legend {
    margin: 0 auto;
    color: var(--yellow);
  }
  #prefEmail, #prefPhone {
    display: inline;
    width: 20px;
    height: 18px;
  }
  #myMessage {
    width: 400px;
    height: 100px;
    margin-top: 15px;
  }
  #mySubmit, #myWeatherSubmit {
    background-color: var(--dark-red);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    width: 120px;
    margin: 5px auto;
  }
  #mySubmit {
    cursor: pointer;
  }
  .form-required {
    margin: 0 auto;
    font-family: var(--font2);
    font-size: 1rem;
    font-style: italic;
  }
  .required {
    color: var(--yellow);
    font-weight: bold;
  }
  input[type="text"].error, input[type="email"].error{
    border: 2px solid var(--bright-red);
  }
  #messageError, input + span, p ol {
    color: var(--bright-red);
  }

  /* ----- FEATURED SECTION STYLES ----- */
   #featured {
    padding: 2rem;
    background-color: var(--dark-gray);
    color: var(--white);
    border-top: 3px solid var(--yellow);
    border-bottom: 3px solid var(--yellow);
    overflow: hidden;
  }
  #featured div {
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  #featured section {
    display: block; 
    position: relative; 
    margin: 0 auto;
  }
  #featured img {
    width: 100%;
    height: auto;
    z-index: 0;
  }
  #featured h3 {
    margin-top: 10px;
    font-size: 120%;
  }
  #featured a {
    display: inline;
    padding: 5px 0px;
    color: var(--yellow);
    text-decoration: none;
  }
  #featured .bold {
    font-weight: bold;
  }

  /* ----- TESTIMONIALS STYLES ----- */
  #testimonials {
    background-color: var(--light-gray);
    display: block; 
    position: relative; 
    margin: 0 auto;
  }
  .dark-mode #testimonials {
    background-color: var(--dark-gray);
  }
  
  /* FOOTER STYLES */
  footer {
    position: relative;
    background-color: var(--dark-red);
    font-weight: bold;
    border-top: 3px solid var(--yellow);
    border-bottom: 1px solid var(--dark-gray);
    padding: 15px 0px 5px 0px;
    z-index: 0;
  }
  footer li {
    list-style-type: none;
    display: inline-flex;
  }
  footer a {
    display: inline;
    font-style: smaller;
    padding: 8px 10px;
    color: var(--green);
    text-decoration: none;
  }
  .dark-mode footer a {
    color: var(--green);
  }
  footer a:hover {
    background-color: var(--bright-red);
    color: var(--dark-gray);
    padding: 2px;
  }
  .dark-mode footer a:hover{
    background-color: var(--bright-red);
    color: var(--dark-gray);
  }
  
  /* MEDIA QUERY FOR SMALL SCREENS AT LEAST 600PX */
  @media screen and (min-width: 600px) {
    body, header, nav, main, footer {
        width: 600px;
        margin: 0 auto;
    }
    nav li {
        justify-content: center;
        flex-basis: 130px;
    }
    li:nth-of-type(4) {
        flex-basis: 50px;
    }
    main {
        min-width: 600px;
    }
    #featured div {
        grid-template-columns: 1fr;
        grid-row-gap: 5px;
    }
    input {
        width: 350px;
    }
  }
  
  /* MEDIA QUERY FOR SMALL SCREENS AT LEAST 880PX */
  @media screen and (min-width: 880px) {
    body, nav, header, main, footer {
        width: 880px;
        margin: 0 auto;
    }
    nav li {
        justify-content: center;
        flex-shrink: 0;
        flex-basis: 230px;
    }
    li:nth-of-type(4) {
        flex-basis: 100px;
    }
    main {
        min-width: 880px;
    }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "title"
    "div";
  }
  #footer h3 {
    grid-area: title;
  }
  input {
        width: 700px;
    }
  }
  /* MEDIA QUERY FOR SCREEN AND MIN-WIDTH OF 1280PX */
  @media screen and (min-width: 1280px) {
    body, nav, header, main, footer {
        width: 1000px;
        margin: 0 auto;
    }
    nav li {
        justify-content: right;
        flex-shrink: 0;
        flex-basis: 250px;
    }
    li:nth-of-type(4) {
        flex-basis: 100px;
    }
    main {
        max-width: 1000px;
    }
    footer div {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 100px;
    }
    #testimonials, #featured {
        position: relative;
    }
    #testimonials {
        padding: 35px 0.5px;
        text-align: center;
    }
    input {
        width: 750px;
    }
  }